@import '~@salesforce-ux/design-system/assets/styles/salesforce-lightning-design-system.css';
@import '~@salesforce-ux/design-system/scss/design-tokens';

#app {
  display: flex;
  flex-direction: column;
}

.site-page-wrapper {
  min-height: 100vh;
}

.site-contentinfo {
  align-self: flex-end;
  background: $color-background-reminder;
  flex: 1 0 100%;
  padding: 0.6rem $spacing-x-large;
  font-size: 0.8rem;

  p,
  ul {
    margin: 0.4rem 0;
  }
}
