#########################
#   Database Settings
#########################
# Ensure the following three match with docker-compose.yml
POSTGRES_DB=metadeploy
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# Change this to a new key,
# generated using cryptography.fernet.Fernet.generate_key()
DB_ENCRYPTION_KEY=Ul-OySkEawSxUc7Ck13Twu2109IzIFh54C1WXO9KAFE=

#########################
#   General settings
#########################
ADMIN_API_ALLOWED_SUBNETS=0.0.0.0/0

DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=-b-9mzv9zd8+%ohfaod%ihdr&dwglvn3le7(1k%4q4e0hbm+n
DJANGO_HASHID_SALT='something long and random'
DJANGO_DEBUG=True

SECURE_SSL_REDIRECT=False

#########################
#  Salesforce Settings
#########################
DOCKER_SFDX_HUB_KEY=...

SFDX_CLIENT_CALLBACK_URL=http://localhost:8080/accounts/salesforce/login/callback/
SFDX_CLIENT_SECRET=...
SFDX_CLIENT_ID=...

#########################
#    GitHub Settings
#########################
GITHUB_APP_ID=...
GITHUB_APP_KEY=...
GITHUB_TOKEN=...


