TAGS
*.DS_Store
*~
.vscode
.idea/
.livereload
node_modules/
node/
coverage/
jscache/
*.orig
*.swp
*.swo
*.css.map
*.js.map
*.log
npm-debug.log
yarn-error.log
staticfiles/
dump.rdb
/env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mypy
.mypy_cache/

# SSL certs
*.crt
*.csr
*.key

# Database things
*.sql
*.dump
postgres/

# Node and Yarn packages:
requirements/*.tar.gz
requirements/*.tar.xz
.yarnrc
.yarn/

robot/results

# Component library documentation
storybook-static/
