TAGS
*.DS_Store
*~
.vscode
.idea/
.livereload
node_modules/
*.orig
*.swp
*.swo
*.css.map
*.js.map
*.log
npm-debug.log
yarn-error.log
staticfiles/
webpack-stats.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
coverage/
jscache/
robot/results

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# Component library documentation
storybook-static/

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env
/env

# virtualenv
.venv
venv/
ENV/
env/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mypy
.mypy_cache/

# SSL certs
*.crt
*.csr
*.key

# Database things
*.sql
*.dump
dump.rdb
/postgres
