@omnistudio:registry=https://repo.vlocity.com/repository/vlocity-public/
//repo.vlocity.com/repository/vlocity-public/:_auth=${OMNIOUT_TOKEN}
//repo.vlocity.com/repository/vlocity-public/:always_auth=true
