!.*
.git/
.mypy_cache/
.nyc_output/
.pytest_cache/
.vscode/
.yarn/
.yarnrc
ENV/
__pycache__/
coverage/
dist/
docs/
env/
htmlcov/
jscache/
locales/
locales_dev/
node/
node_modules/
requirements/
staticfiles/
storybook-static/
venv/
