#!/usr/local/bin/zsh
# This hook is sourced after this virtualenv is activated.

# PATH settings
export MD=$(pwd)
export PATH=$MD/node/bin:$MD/node_modules/.bin:$PATH
export PYTHONPATH=$MD/src

# DB settings
export POSTGRES_DB=metadeploy

# General settings
export DJANGO_SETTINGS_MODULE=metadeploy.settings.base
export DJANGO_SECRET_KEY='CHANGEME!!!'
export DJANGO_ALLOWED_HOSTS=localhost,.metadeploy.com
export DJANGO_DEBUG=True

# Security! Better to use DNS for this task, but you can use redirect
export DJANGO_SECURE_SSL_REDIRECT=False
