# General settings
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=
DJANGO_HASHID_SALT=
DJANGO_ALLOWED_HOSTS=localhost
DJANGO_DEBUG=True
ADMIN_API_ALLOWED_SUBNETS=127.0.0.1/32

# Don't force https when running on localhost
SECURE_SSL_REDIRECT=False

# Application Settings
SFDX_CLIENT_CALLBACK_URL=http://localhost:8080/accounts/salesforce/login/callback/
SFDX_CLIENT_SECRET=
SFDX_CLIENT_ID=
SFDX_HUB_KEY=
DOCKER_SFDX_HUB_KEY=
GITHUB_TOKEN=
GITHUB_APP_ID=
GITHUB_APP_KEY=
DOCKER_GITHUB_APP_KEY=
DEVHUB_USERNAME=

# Add these to store images in S3 instead of postgres
#BUCKETEER_AWS_ACCESS_KEY_ID=
#BUCKETEER_AWS_SECRET_ACCESS_KEY=
#BUCKETEER_BUCKET_NAME=

# Change this to a new key,
# generated using cryptography.fernet.Fernet.generate_key()
DB_ENCRYPTION_KEY="Ul-OySkEawSxUc7Ck13Twu2109IzIFh54C1WXO9KAFE="
