#!/bin/bash
# This hook is sourced after this virtualenv is activated.

# PATH settings
export MD=$(pwd)
export PATH=$MD/node/bin:$MD/node_modules/.bin:$PATH

# DB settings
export POSTGRES_DB=metadeploy

# General settings
export DJANGO_SETTINGS_MODULE=config.settings.local
export DJANGO_SECRET_KEY='CHANGEME!!!'
export DJANGO_HASHID_SALT='something long and random'
export DJANGO_ALLOWED_HOSTS=localhost
export DJANGO_DEBUG=True

# Don't force https when running on localhost
export SECURE_SSL_REDIRECT=False

# Application Settings
export SFDX_CLIENT_CALLBACK_URL=http://localhost:8080/accounts/salesforce/login/callback/
export SFDX_CLIENT_SECRET=...
export SFDX_CLIENT_ID=...
export SFDX_HUB_KEY=...
export GITHUB_APP_ID=...
export GITHUB_APP_KEY=...

# Add these to store images in S3 instead of postgres
#export BUCKETEER_AWS_ACCESS_KEY_ID=...
#export BUCKETEER_AWS_SECRET_ACCESS_KEY=...
#export BUCKETEER_BUCKET_NAME=...

# Change this to a new key,
# generated using cryptography.fernet.Fernet.generate_key()
export DB_ENCRYPTION_KEY="Ul-OySkEawSxUc7Ck13Twu2109IzIFh54C1WXO9KAFE="
