{% extends "admin/login.html" %}

{% load socialaccount %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        #content-main {
            float: none !important;
        }

        .social_login_container {
            margin-top: 15px;
            display: flex;
            justify-content: center;
        }
    </style>
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="social_login_container">
        <a href="{% provider_login_url "salesforce" %}">Log in with Salesforce</a>
    </div>

    {% element form method="post" no_visible_fields=True action="{% provider_login_url "salesforce" %}" %}
        {% slot actions %}
            {% csrf_token %}
            {% element button type="submit" %}
                {% trans "Log in with Salesforce" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}

{% endblock %}
