{% extends "admin/login.html" %}

{% load socialaccount %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        #content-main {
            float: none !important;
        }

        .salesforce-login-container {
            text-align: center;
            margin-top: 20px;
            line-height: 2;
        }
    </style>
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="salesforce-login-container">
        <hr/>
        <span>Or</span>
        <form id="salesforce-login-form" method="post" action="{% provider_login_url "salesforce" %}">
          {% csrf_token %}
          <input type="submit" value="Log in with Salesforce" />
        </form>
    </div>
{% endblock %}
