// Header
// ======

.global-header {
  border-radius: 0;
  background-color: $color-background-backdrop-tint;
  z-index: 100;
}

[data-logo-bit='end'] {
  color: $color-text-brand;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
}
