// Plans
// =====

.plan-error-list {
  list-style: none !important; // stylelint-disable-line declaration-no-important
}

.spinner-container {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
}
