// Products
// ========

.slds-icon-standard-account {
  [style*='--custom-color'] & {
    background-color: var(--custom-color);
  }
}

.page-header {
  border: none;
  border-radius: 0;
  background-color: $color-background-reminder;
  box-shadow: none;
}
