// Steps
// =====

#plan-steps-table {
  // Borders are added by parent .slds-card
  border: none;

  // set up layout
  tr {
    display: grid;
    grid-template-columns: [step-row-start name-start] 1fr [name-end type-start] 15vw [type-end badge-start] 15vw [badge-end install-start]10vw [install-end step-row-end];

    &:focus,
    &:hover {
      > td:not(.slds-is-selected),
      > th:not(.slds-is-selected) {
        box-shadow: none;
      }
    }
  }

  .slds-accordion__section {
    padding: 0;
  }

  .slds-accordion__summary-heading {
    font-size: $font-size-medium;
  }

  .step-column-tooltip {
    text-transform: none;
    letter-spacing: 0;
  }

  .step-name-no-icon {
    // Line up text of step names, with or without accordion icon:
    // .slds-button__icon width (0.875rem) + margin-right (0.5rem)
    margin-left: 1.375rem;
  }

  .has-warning {
    border-left: 1rem solid $color-border-warning;
    padding-left: 0.5rem;
  }

  .has-error {
    border-left: 1rem solid $color-border-error;
    padding-left: 0.5rem;
  }

  .plan-step-item {
    padding-bottom: $var-spacing-small;
    padding-top: $var-spacing-small;
  }

  .plan-step-item-name {
    grid-column: name-start / step-row-end;
    grid-row: 1 / 3;
  }

  .plan-step-name {
    align-items: end;
    display: flex;
  }

  .plan-step-type {
    grid-column: type-start / type-end;
    grid-row: 1 / 2;

    // aligns the type text with other cell text
    > div {
      align-items: baseline;
      display: flex;

      // center the type icon to the label only
      span:first-child {
        align-self: center;
        display: flex;
      }
    }
  }

  .plan-step-badge-container {
    grid-column: badge-start / badge-end;
    grid-row: 1 / 2;

    div {
      display: flex;
    }
  }

  .slds-badge_lightest {
    background-color: $color-background-highlight;
  }

  td:nth-child(4n),
  .plan-step-icon-container {
    grid-column: install-start / install-end;
    grid-row: 1 / 2;
    // less padding since slds `action icons` have a large container
    padding-bottom: $var-spacing-x-small;
    padding-top: $var-spacing-x-small;
  }

  .slds-is-open > .slds-accordion__content {
    margin-left: -1.5rem;
    // full width of the page minus padding ===
    // full width of table so scroll goes edge to edge
    max-width: calc(100vw - 4rem);
    overflow: auto;
  }

  pre {
    padding: 0 1.5rem;
  }
}
