<!-- Styles -->
<!DOCTYPE html>
<html lang="en" class="slds-theme_default">

<head>
    <meta charset='utf-8' />
    <!-- Styles -->
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.vendors.css[0] %>" type="text/css">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.app.css[0] %>" type="text/css">
</head>

<body>
    <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_error" role="alert">
        <span class="slds-icon_container slds-icon-utility-error slds-m-right_x-small"
            title="Description of icon when needed">
            <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#error"></use>
            </svg>
        </span>
        <h2>
            {{ error_message }}
            <a href="/">Back</a>
        </h2>
    </div>
</body>

</html>