<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    {% block robots %}<meta name="robots" content="index, follow" />{% endblock %}
    <meta name="author" content="Salesforce.org" />
    <meta name="keywords" content="{% block keywords %}{% endblock keywords %}" />
    <meta name="language" content="en-us" />

    <!-- Page Info -->
    <title>{% block title %}MetaDeploy{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock description %}" />
  </head>
  <body>
    <main id="app">Loading...</main>
  </body>
</html>
