{% load api_bootstrap %}
{% load js_reverse %}

<!DOCTYPE html>
<html lang="en" class="slds-theme_default">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    {% block robots %}<meta name="robots" content="index, follow" />{% endblock %}
    {% if GLOBALS.SITE and GLOBALS.SITE.company_name %}<meta name="author" content="{{ GLOBALS.SITE.company_name }}" />{% endif %}
    <meta name="keywords" content="{% block keywords %}{% endblock keywords %}" />
    <meta name="language" content="en-us" />
    {% if GLOBALS.SITE and GLOBALS.SITE.favicon %}<link rel="shortcut icon" href="{{ GLOBALS.SITE.favicon }}" />{% endif %}

    <!-- Page Info -->
    <title>{% block title %}{% if GLOBALS.SITE and GLOBALS.SITE.name %}{{ GLOBALS.SITE.name }}{% else %}MetaDeploy{% endif %}{% endblock %}</title>
    <meta name="description" content="{% block description %}Web-based tool for installing Salesforce products{% endblock description %}" />

    <!-- Insert config variables -->
    {{ GLOBALS | json_script:"js-globals" }}
    <!-- Insert authentication error info -->
    {{ JS_CONTEXT | json_script:"js-context" }}
    <!-- Insert API URLs from Django -->
    <script type="text/javascript">
      {% js_reverse_inline %}
    </script>

    <!-- JavaScript and Styles are inserted here -->
  </head>
  <body>
    <main id="app" class="slds-grid slds-grid_vertical" {% if user.is_authenticated %} data-user="{{ user|serialize }}"{% endif %}>
      <div role="status" class="slds-spinner slds-spinner_large">
        <span class="slds-assistive-text">Loading…</span>
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
      </div>
    </main>
  </body>
</html>
