// Containers
// ==========

// Restrict fixed/absolute containers to half the viewport
// ie. used on toasts to unblock header links
.half-container {
  left: 50%;
  max-width: 50vw;
  transform: translateX(-50%);
}
